.prices {
  display: flex;
  position: absolute;
  right: 10px;
  bottom: 10px;

  .priceBox {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      display: flex;
      align-items: center;
    }

    span {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.1em;

      color: #af9fff;
    }

    svg {
      margin: 1px 4px 0px 3px;
    }

    .price {
      border: 1px solid #7dcfb6;
      background: #06070e;
      padding-left: 20px;
      padding-right: calc(20px - 0.1em);
      font-size: 32px;
      line-height: 42px;
      letter-spacing: 0.1em;
      color: #7dcfb6;
      margin-top: 3px;
      &.log {
        border-color: #e5db5a;
        color: #e5db5a;
      }
      &.incompleted {
        border-color: #e74467;
        color: #e74467;
      }
    }

    &:first-child {
      margin-right: 20px;

      .yellow {
        margin-right: 5px;
      }
    }
  }
}

.yellow {
  color: #e5db5a !important;
}
.white {
  color: white !important;
}
