@font-face {
  font-family: 'Chakra Petch';
  font-weight: bold;
  src: url('font/ChakraPetch-Bold.ttf');
}

@font-face {
  font-family: 'Chakra Petch Regular';
  font-weight: normal;
  src: url('font/ChakraPetch-Regular.ttf');
}
