.walletBox,
.accountBox {
  border: 1px solid #e5db5a;
  padding: 4px;
  display: flex;

  .connectBtn,
  .walletBtn {
    cursor: pointer;
    display: flex;
    padding: 12px 32px;
    background: #e5db5a;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.1em;
    border: 1px solid #e5db5a;

    color: #06070e;
  }
  .walletBtn {
    display: flex;
    align-items: center;
    background: transparent;
    color: #e5db5a;

    svg {
      margin-right: 10px;
    }
  }
}

.walletBox {
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.04);
  }
}
