.bgHome {
  background: linear-gradient(
      180deg,
      rgba(6, 6, 15, 0.1) 67.19%,
      rgba(125, 207, 182, 0.1) 100%
    ),
    url(../../assets/img/grid.svg) no-repeat,
    url(../../assets/img/bg-home.svg) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.base {
  position: relative;
  -webkit-animation: bgflow 10s linear infinite;
  animation: bgflow 10s linear infinite;
}
.quest,
.land,
.stake {
  position: absolute;
  left: 50%;
  transform: translateX(calc((-50%) + 1px));
  cursor: pointer;

  & > div {
    visibility: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    background: linear-gradient(
        180deg,
        rgba(125, 207, 182, 0.1) 0%,
        rgba(125, 207, 182, 0.004) 9.38%,
        rgba(125, 207, 182, 0.004) 91.67%,
        rgba(125, 207, 182, 0.1) 100%
      ),
      rgba(6, 7, 14, 0.5);
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 18px;
      border: 1px solid;
      border-color: #7dcfb6 #7dcfb6 transparent #7dcfb6;
    }
    &::after {
      top: auto;
      bottom: 0;
      border-color: transparent #7dcfb6 #7dcfb6 #7dcfb6;
    }
  }
  &:hover > div {
    visibility: visible;
  }
}

.stake {
  top: 34px;
  transform: translateX(-50%);
}
.land {
  top: 93px;
}
.quest {
  top: 454px;
}

.wallet {
  position: fixed;
  top: 60px;
  right: 100px;
  display: flex;
  flex-direction: column;

  .buyOne {
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    h2 {
      color: #aaa;
      text-align: center;
    }

    a {
      margin-top: 10px;
      padding: 12px 0;
      font-size: 24px;
      line-height: 31px;
      letter-spacing: 0.1em;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #7dcfb6;
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.04);
        border: 1px solid #7dcfb640;
      }
    }
    background: linear-gradient(
      180deg,
      rgba(125, 207, 182, 0.5) 0%,
      rgba(125, 207, 182, 0.25) 32.29%,
      rgba(125, 207, 182, 0.25) 66.67%,
      rgba(125, 207, 182, 0.25) 99.99%,
      rgba(125, 207, 182, 0.5) 100%
    );
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 4px;
      border: 1px solid #7dcfb6;
    }
    &::before {
      top: 0;
      border-bottom: none;
    }
    &::after {
      bottom: 0;
      border-top: none;
    }

    span {
      margin-left: 10px;
    }
  }
}

@-webkit-keyframes bgflow {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-30px);
  }
  75% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes bgflow {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-30px);
  }
  75% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}
