.border {
  position: relative;
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    border: 1px solid;
    border-color: #7dcfb6 #7dcfb6 transparent #7dcfb6;
  }
  &::after {
    top: auto;
    bottom: 0;
    border-color: transparent #7dcfb6 #7dcfb6 #7dcfb6;
  }
}

.topBorder,
.bottomBorder {
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 3px;
    border: 1px solid;
    border-color: #7dcfb6bf transparent transparent #7dcfb6bf;
  }
  &::after {
    right: 0;
    left: auto;
    border-color: #7dcfb6bf #7dcfb6bf transparent transparent;
  }
}
.bottomBorder {
  &::before,
  &::after {
    top: auto;
    bottom: 0;
    border-top-color: transparent;
    border-bottom-color: #7dcfb6bf;
  }
}

.nftItem {
  background: #06070e;
  border: 1px solid rgba(126, 134, 160, 0.25);
  padding: 10px;
  cursor: pointer;
  width: calc((100% - 50px) / 5);
  margin: 0 5px 5px;

  &.border {
    &::after,
    &::before {
      height: 17px;
      border-color: #7dcfb6bf;
    }
    &::before {
      border-bottom-color: transparent;
    }
    &::after {
      border-top-color: transparent;
    }
  }

  .imgBox {
    display: flex;
    width: 100%;
    position: relative;
    font-family: 'Chakra Petch Regular';

    p {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1em;
      margin-right: -0.1em;
      color: #ffffff;
    }

    h3 {
      font-size: 24px;
      line-height: 31px;
      letter-spacing: 0.1em;
      margin-right: -0.1em;
      color: #e5db5a;
    }

    .nftInfo {
      & > div {
        display: none;
      }
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px 4px 5px;
      background: #06070e60;
    }

    .rarity {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .tokenInfo {
      display: flex;
      position: absolute;
      bottom: 5px;
      left: 8px;
    }
    .tokenId {
      position: absolute;
      bottom: 5px;
      right: 8px;
      padding: 2px;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1em;
      margin-right: -0.1em;
      color: #83d0b6;
      margin-left: auto;
      background: linear-gradient(
          180deg,
          rgba(125, 207, 182, 0.2) 0%,
          rgba(125, 207, 182, 0.02) 21.88%,
          rgba(125, 207, 182, 0.02) 76.56%,
          rgba(125, 207, 182, 0.2) 100%
        ),
        linear-gradient(0deg, rgba(6, 7, 14, 0.75), rgba(6, 7, 14, 0.75));
    }
  }

  &:hover,
  &.active {
    .sideBorder {
      position: absolute;
      top: 20px;
      bottom: 20px;
      left: 0;
      right: 0;
      border-left: 1px solid rgba(126, 134, 160, 0.25);
      border-right: 1px solid rgba(126, 134, 160, 0.25);
      &::before {
        content: '';
        position: absolute;
        top: 3px;
        bottom: 3px;
        left: -1.5px;
        right: -1.5px;
        border-left: 2px solid #7dcfb6;
        border-right: 2px solid #7dcfb6;
      }
    }
  }

  &.active {
    border-color: transparent;
    .nftInfo {
      background: transparent;
      border: 2px solid #7dcfb6;
    }
  }

  &:hover {
    border-color: transparent;
    .sideBorder::before {
      top: auto;
      height: 30px;
    }
    .nftInfo {
      background: #06070ebf;
      border: none;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 63px;
        border: 2px solid;
        border-color: transparent #7dcfb6 #7dcfb6 #7dcfb6;
      }
      & > div {
        display: flex;
      }
    }
    &::after,
    &::before {
      border-color: #7dcfb6;
    }
    &::after {
      border-top-color: transparent;
    }
    &::before {
      border-bottom-color: transparent;
    }

    .tokenId {
      .bottomBorder {
        &::before {
          border-color: transparent transparent #7dcfb6 #7dcfb6;
        }
        &::after {
          border-color: transparent #7dcfb6 #7dcfb6 transparent;
        }
      }
      .topBorder {
        &::before {
          border-color: #7dcfb6 transparent transparent #7dcfb6;
        }
        &::after {
          border-color: #7dcfb6 #7dcfb6 transparent transparent;
        }
      }
    }
  }
}
